

.sub_container1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.sub_container3{
   
    width:25em;
    height: 15em;
    margin-top:20em;
    margin-left: 30em;  
}
.button1{
    background-color: purple;
    width:100px;
    height: 30px;
    border: none;
    border-radius: 15px;
}
.box1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}
.box3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    
}
.button2{
    background-color: bisque;
    width:100px;
    height: 30px;
    border: none;
    border-radius: 15px;
}
.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.image2{
   padding-bottom: 1em;
}
.straight_line{
    border: 1px solid black;
}
.image5{
    padding-top: 1em;
}
.sub_container2{
    display:grid;
    grid-template-columns: repeat(4, 0.1fr);
    grid-column-gap:1em ;
    margin-top:10em ;
    margin-left: 13em;   
}
