@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
.two {
  height: 50vh;
}
h3,
h1 {
  font-family: "Poppins", sans-serif;
}
.button_header {
  background-color: white;
  color: hsl(322, 100%, 66%);
  height: 30px;
  width: 110px;
  border-radius: 15px;
  border: 1px solid hsl(321, 100%, 78%);
  box-shadow: 5px 10px 7px hsl(207, 100%, 98%);
}
.subscribe {
  background-color: hsl(321, 100%, 78%);
  height: 20px;
  width: 100px;
  border: none;
  border-radius: 2px;
  color: white;
  position: relative;
  left: 120px;
  bottom: 22px;
}
.footer {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  justify-content: space-around;
  color: white;
  padding-top: 40px;
}
.footer-bg {
  background-image: url("./images/bg-footer-top-desktop.svg");
  background-repeat: round;
  height: 100px;
  width: 100vw;
}
.input {
  width: 50%;
  display: inline;
}
.footer1 {
  width: 350px;
}
.footer2 {
  width: 200px;
}
.sub_box3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 50px;
}
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  place-items: center;
}
.bg-bottom {
  height: 100px;
  width: 100vw;
  background-image: url("./images/bg-section-bottom-desktop-1.svg");
  background-repeat: round;
}
.bg-top {
  height: 100px;
  width: 100vw;
  background-image: url("./images/bg-section-top-desktop-2.svg");
  background-repeat: round;
}
.button2 {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  margin-bottom: 90px;
  margin-top: 10px;
  background-color: hsl(322, 100%, 66%);
  box-shadow: -1px 6px 4px 2px hsl(207, 100%, 98%);
}
.button3 {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  margin-bottom: 90px;
  margin-top: 10px;
  background-color: hsl(322, 100%, 66%);
  box-shadow: 1px 5px 6px 2px hsl(207, 100%, 98%);
}
.sub_box1 {
  width: 500px;
  text-align: center;
}
.one {
  padding-right: 210px;
  margin-top: 20px;
}
.subb_box1 {
  width: 300px;
  padding-right: 100px;
}
.flowing {
  width: 300px;
}
.space {
  padding-right: 100px;
}
.your_users1 {
  width: 300px;
  margin-right: 90px;
}
.box2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: hsl(207, 100%, 98%);
  padding-bottom: 20px;
  place-content: center;
  place-items: center;
  height: 50vh;
}
.box3 {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  place-items: center;
  place-content: center;
  height: 50vh;
}
.box4 {
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
  background-color: hsl(207, 100%, 98%);
  height: 50vh;
}
.box5 {
  background-color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  padding-top: 50px;
}
@media all and (max-width: 800px) {
  .bg-bottom {
    background-image: url("./images/bg-section-bottom-mobile-1.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
  }
  .bg-top {
    background-image: url("./images/bg-section-top-mobile-2.svg");
    background-repeat: no-repeat;
    background-size: 100vw;
  }
  .header {
    justify-content: space-between;
    padding: 20px;
  }
  .box2,
  .box3,
  .box4 {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .sub_box1 {
    width: 300px;
  }
  .subb_box1 {
    padding-right: 3px;
  }
  .space {
    padding-right: 0px;
  }
  .your_users1 {
    margin-right: 0px;
  }
  .sub_box3 {
    flex-direction: column;
    padding-left: 100px;
  }
  .one {
    padding-right: 0px;
    padding-bottom: 40px;
  }
  .two{
    height: 30vh;
  }
  .footer {
    flex-direction: column-reverse;
    padding-left: 30px;
  }
  .footer1 {
    padding-top: 40px;
  }
  .input {
    width: 100%;
  }
  .subscribe {
    position: relative;
    left: 110px;
    bottom: 0px;
  }
  .mockups {
    width: 300px;
  }
}
