@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body{
 background-color:#FAE6FA ;
 
 color:white;
 font-family: 'Lexend Deca', sans-serif;

}
h2{
    font-family: 'Big Shoulders Display', cursive;
}
.paragraph{
    width: 13em;
    line-height: 25px;
    width: 13em;
    padding-bottom: 5em;
    padding-top: 1em;
}
.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top:150px;

}
@media (max-width:500px) {
    body{
    
   
    }
}
/* @media (orientation:landscape){
    .container2{
        
    }
} */
.container1{

    width:18em;
    height:26em;
    background-color:  hsl(31, 77%, 52%);
    padding-left: 2.7em;
       
}
.container2{
    
    width:18em;
    height:26em;
    padding-left: 2.7em;
    background-color: hsl(184, 100%, 22%);
    
}
.container3{
    
    width:18em;
    height:26em;
    padding-left: 2.7em;
    background-color: hsl(179, 100%, 13%);
 
}
.paragraph3{
    width: 13em;
    padding-bottom: 3.2em;
    padding-top: 1em;
    line-height: 25px;
}
.button{
    width:100px;
    height:30px;
    
    background-color: white;
    border-radius: 20px;
    border: none;
}
.button1{
    color:#FE994A;
}
.button2{
    color:#37B3B3;
}
.button3{
    color: #627354;
}